nasa-power
desmat-prodes
prodes-bad-alloc
deter_queimadas
firms_nasa
appeears_modis
appeears_modis.rds
deter_queimadas.rds
gosat-xch4-kgr.rds
gosat_xch4.rds
nasa_power.rds
oco2-sif-kgr.rds
prodes_deforestation.rds
*.rds
deter-fogo-28-09-2025-20_46_38.csv
nasa-xco2-kgr.rds
climate-trace-br.xlsx
